<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>remote-repository</id>
            <username>domain.username</username>
            <password>domain.password</password>
        </server>
        <server>
            <id>nc-nexus-snapshot</id>
            <username>domain.username</username>
            <password>domain.password</password>
        </server>
        <server>
            <id>nc-nexus-release</id>
            <username>domain.username</username>
            <password>domain.password</password>
        </server>
    </servers>
    <localRepository>c:/m2</localRepository>
    <pluginGroups>
        <pluginGroup>com.netcracker.om.tls.maven.plugin</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/central</url>
                </repository>
                <repository>
                    <id>download.java.net</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/java.net-m2</url>
                </repository>
                <repository>
                    <id>mirrors.ibiblio.org</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/ibiblio</url>
                </repository>
                <repository>
                    <id>repository.jboss.org</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/jboss-public</url>
                </repository>
                <repository>
                    <id>nc.general_sync</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.general_sync</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>nc.thirdparty_sync</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.thirdparty_sync</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>nc.general</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.general</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>nc.thirdparty</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.thirdparty</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>nc.super.poms</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.super.poms</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nc.maven.plugins</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.maven.plugins/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>nc.thirdparty_sync</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.thirdparty_sync</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>gui-repositories</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-repositories</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-repositories</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>gui-snapshot-repositories</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-repositories</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>nc-nexus-snapshots</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-snapshot-repositories</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-repositories</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nc-nexus-snapshots</id>
                    <url>https://nexussrv.netcracker.com/content/groups/gui-snapshot-repositories</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>nc-maven-plugins</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <pluginRepositories>
                <pluginRepository>
                    <id>nc.maven.plugins</id>
                    <url>https://nexussrv.netcracker.com/content/repositories/nc.maven.plugins</url>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>